<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>

<body style="background-color:#E7879A;">
    <%- include ('navegador/nav.html') %>
    <div class="container-fluid">
        <div class="cm">
            <div class="row">
                <div class="col-md-6">
                    <div class="contactos">
                        <h3 class="text-center">Contacta con nosotros</h3>
                        <p class="text-center">Parque Lefevre, Calle 85B Este<br>
                            candycurnerinfo@gmail.com // 6826-0196 // 237-0349<br>
                            Nos gustaria escuchar tus sugerencias:
                        </p>
                        <form action="/Contactos" method="POST">
                            <div class="form-group">
                                <label for="nombre_us">Nombre</label>
                                <input type="text" name="nombre_us" class="form-control" placeholder="Ingrese su nombre"/>
                            </div>
                            <div class="form-group">
                                <label for="email_us">Email</label>
                                <input type="text" name="email_us" class="form-control" placeholder="Ingrese su email"/>
                            </div>
                            <div class="form-group">
                                <label for="telefono_us">Telefono</label>
                                <input type="text" name="telefono_us" class="form-control" placeholder="Ingrese su telefono"/>
                            </div>
                            <div class="form-group">
                                <label for="descripcion_us">Sugerencia</label>
                                <input type="text" name="descripcion_us" class="form-control" placeholder="Ingrese su sugerencia" />
                            </div>
                            <button type="submit" class="is">
                                ENVIAR 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('navegador/footer.html') %>
</body>

</html>