<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>

<body style="background-color:#E7879A">
    <%- include ('navegador/nav.html') %>
    <div class="container">
        <div class="col-lg-12 text-center">
            <div>
                <img class=nueces src="/img/chocolate.jpg">
            </div>
        </div>
            <div class="separador">
                <div class="row2">
                    <div class=" text-center">
                        <div class="bottom" style="position:relative">
                            <img class="tres" src="/img/nueces.jpg" />
                            <img class="tres" src="/img/frutas.jpg" />
                            <img class="tres" src="/img/tresleches.jpg" />
                            <img class="tres" src="/img/vainilla.jpg" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

    <%- include ('navegador/footer.html') %>

</body>

</html>