<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>

<body style="background-color:#E7879A;">
    <%- include ('navegador/nav.html') %>
    <div class="container-fluid">
        <div class="cm">

            <div class="row">
                <div class="encabezado">
                    <div class="col-md-12">
                        <a class="cs" href="/Home">Inicio </a><p>/ Cuenta</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="encabezado2">
                <div class="col-md-12">
                    <h4>Iniciar Sesion</h4>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="formulario">
                    <p><% if (signinMessage.length > 0) {%>
                        <div class="alert alert-danger"><%= signinMessage %>
                        </div>
                    <% } %></p>
                <div class="col-md-12">
                    <form action="/Iniciar_sesion" method="post">
                            <label for="email">Correo Electronico:</label>
                            <input type="email" name="email" class="form-control" placeholder="Correo Electronico"/>
                            <br>
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Correo Electronico"/>

                            <button class ="is" type="submit">Iniciar sesion</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <h5>¿Eres nuevo?<a class="cs" href="/Crear_cuenta"> Registrarse</a></h5>
                    </div>
            </div>
        </div>
    </div>
</div>
    
    <%- include ('navegador/footer.html') %>
</body>

</html>