<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>

<body style="background-color:#E7879A;">
    <%- include ('navegador/nav.html') %>
    <div class="container-fluid">
        <div class="cm">
            <div class="row">
                <div class="col-md-12">
                    <div class="separadorm">
                        <h3 class="text-center">PASTELES</h3>
                        <p><small>Estas en la sección de menú. Aqui podras encontrar nuestro catalogo de pasteles y
                                elegir el
                                que mas desees</small></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/cho_fresa.jpg" />
                        <p>Chocolate</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de chocolate con decoraciones de fresas y chocolate puro</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/fresas.png" />
                        <p>Fresas</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de fresa con mitad de vainilla con una capa fresa en la parte superior con
                                    decoraciones de fresas,cerezas y bayas moradas</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/frutas.png" />
                        <p>Frutas</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de vainilla con decoraciones de fresas en la parte inferior y sobre el
                                    dulce una combinación de frutas: kiwii, melocoton, cerezas y frambuesas</small></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/nueces.png" />
                        <p>Nueces</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de chocolate con una capa superior de chocolate derretido y decoraciones de
                                    nueces</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/tresleches.png" />
                        <p>Tres Leches</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de tres leches con una capa superior de vainilla</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="separadorm">
                        <img class="menu" src="/img/vainilla.png" />
                        <p>Vainilla</p>
                        <img class="yc" src="/img/choco.jpg" />
                        <div class="des">
                            <p><small>Pastel de vainilla con 3 capas distintas en las cuales la parte superior tiene una
                                    capa de aizen con cerezas y una decoración de frutas variadas en la parte superior
                                    del pastel</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('navegador/footer.html') %>
</body>

</html>