<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>

<body style="background-color:#E7879A;">
    <%- include ('navegador/nav.html') %>
    <div class="container-fluid">
        <div class="cm">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mno">
                                <h4 class="text-center">Menu</h4>
                                <img src="/img/choco.jpg" width="200" height="2" />
                                <h4 class="text-center">Pasteles</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% products.forEach(function(productos) { %>
                            <div class="card">
                            <ul>
                                <li><img src="<%= productos.imagen %>"></li>
                                <li><%= productos.product_name %></li>
                                <li><%= productos.descripcion %></li>
                                <li><%= productos.precio %></li>
                            </ul>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <button class="btno">Ordenar ahora</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include ('navegador/footer.html') %>
</body>

</html>