<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include ('navegador/head.html') %>
</head>
<body style="background-color:#E7879A;">
    <%- include ('navegador/nav.html') %>
    <div class="container-fluid">
        <div class="cm">
        <div class="row">
            <div class="col-md-6">
                <img class="sucursales" src="/img/parque_lefevre.png" width=400 height=200/>
            </div>
            <div class="col-md-6">
                <div class="as">
                <h3 class="ps">
                    Sucursal Parque Lefevre
                </h3> 
                <address>
                     <strong>P.H Park Place</strong><br />Establecimiento 405-B<br />Calle 85-B Este<br /> <abbr title="Phone"></abbr> (+507) 237-0349
                </address>
            </div>
        </div>
        </div>
        <div class="separadors2">
        <div class="row">
            <div class="col-md-6">
                <img class="sucursales" src="/img/san_isidro.png" width=400 height=200/>
            </div>
            <div class="col-md-6">
                <div class="as">
                <h3 class="ps">
                    Sucursal San Isidro
                </h3> 
                <address>
                     <strong>Valle de San Isidro</strong><br />Establecimiento J-148<br />Calle Principal<br /> <abbr title="Phone"></abbr> (+507) 237-0349
                </address>
            </div>
        </div>
        </div>
    </div>
</div>
    </div>
    <%- include ('navegador/footer.html') %>
</body>
</html>