
.row{
    background-color: white;
}

.logoc{
    padding-top: 150px;
    padding-bottom: 60px;
    display:block;
    margin:auto;
}

.logotipo{
    padding-top: 30px;
    background-color: #E7879A;
}

.contactos{
    margin-left: 200px;
    margin-right: -250px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.form{
    margin:-5px;
}

.contactos button{
    margin-left: 160px;
}