.logomain div{
  margin-left: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo{
  display: flex;
  justify-content: center;
}

.col-md-12{
  display: flex;
  justify-content: center;
}

.navbar{
  width:150px;
  border-radius: 60px;
  justify-content: center;
  background:white;
  border-style: none;
  float: left;
  margin:30px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color:#68391A;
  text-decoration: none;
  margin:10px;
  font-family: 'Rowdies', cursive;
}

.navbar:hover{
  background-color:#FFD700;
  filter:alpha (opacity=50);
  text-decoration: none;
  color:#68391A;
}

.container div {
  padding-bottom: 21px;
}

.nueces{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height:500px;
  background-image: url(/img/chocolate.jpg);
  background-size: 100% 100%;
  transition: all 0.5s ease;
  border-style: solid;
  border-color: white;
  border-width:5px;
}

.nueces:hover{
  transform:scale(1.02);
}
.tres:hover{
  transform:scale(1.02);
}


.bottom{
  padding-top: 5px;
  padding-bottom: 30px;
}

.tres{
  width:220px;
  height:200px;
  border-style: solid;
  border-color: white;
  border-width:5px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.5s ease;
}


footer{
  background-color: white;
  padding-top: 10px;
}
.footer{
  width:30px;
  height:30px;
  margin: 20px;
}

.nav{
  margin-top: 10px;
  margin-left: 450px;
  text-decoration: none;
  color:#68391A
}

.navf{
  color:#68391A;
}

.navf:hover{
  text-decoration: none;
  color:#68391A;
}

h3,h4,h5,div {
  font-family: 'Rowdies', cursive;
  color:#68391A;
}

.dropdown button{
  border-style:none;
  margin:5px;
  border-radius:60px;
  padding-left: 10px;
  padding-right: 10px;
  color:#68391A
}
.dropdown div a{
  padding-bottom: -5px;
  display:block;
  text-decoration: none;
  color:#68391A
}

.dropdown div a:hover{
  display:block;
  text-decoration: none;
  color:#68391A
}

.dropdown div{
  visibility: hidden;
  text-decoration: none;
  color:#68391A;
}

.dropdown:hover div{
  visibility: visible;
}