<footer>
    <div class="container-fluid">
        <div class="rowfooter">
            <div class="col-md-12">
                <h3 class="text-center">VISITA NUESTRAS REDES SOCIALES </h3>
            </div>
        </div>
                <div class="row_footer">
                    <div class="col-md-12 text-center">
                        <img class="footer" src="/img/facebook.webp"/>
                        <img class="footer" src="/img/instagram.png"/>
                        <img class="footer" src="/img/twitter.png"/>
                    </div>
                </div>
    </div>
</footer>