<footer>
    <div class="container-fluid">
        <div class="rowfooter">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 class="text-center">VISITA NUESTRAS REDES SOCIALES </h3>
                    <div class="row_footer">
                        <div class="col-md-12 text-center">
                            <a href="https://www.facebook.com/Candy-Curner-110574057413682"><img class="footer"
                                    src="/img/facebook.png" /></a>
                            <a href="https://www.instagram.com/candycurner/"><img class="footer"
                                    src="/img/instagram.png" /></a>
                            <a href="https://twitter.com/home"><img class="footer" src="/img/twitter.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Para mas información contactarnos: </h3>
                    <div class="row_footer">
                        <div class="col-md-12 text-center">
                        <p><img class="footer" src="/img/gmail.png" /> candycurnerinfo@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>