<div class="col-md-12">
<div class="logomain">
<div class="logo">
  <a href="/Home"><img src="/img/candy_corner.jpg" alt="Logo" width=350 height=100/></a>
</div>
</div>

<div class="col-md-2">
  <div class="nav">
    <div class="dropdown">
      <img src="/img/desplegable.png" width=30 height=30>
      <div>
        <% if (user) {%>
          <a href="/logout" class="navbar2">Log out</a>&nbsp;
        <%} else {%>
        <a href="/Iniciar_sesion"class="navbar2">Sign In</a>&nbsp;
        <a href="/Crear_cuenta"class="navbar2"> Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row1">
  <div class="col-md-12">
    <a href="/Home" class="navbar">Inicio</a>
    <a href="/Menu" class="navbar">Catalogo</a>
    <a href="/Ordenar_Online" class="navbar">Ordenar online</a>
    <a href="/Contactos" class="navbar">Contactos</a>
    <a href="/Sucursales" class="navbar">Sucursales</a>
  </div>
</div>